<trds-section style="background-color: var(--color--primary);">
    <trds-grid style="row-gap: var(--space--m);">
        <trds-stack style="gap:var(--space--s)">
            <trds-title style="color: var(--color--primary-text)" class="variant--1">PDR TECHNOLÓGIA</trds-title>
            <p>A fényezés nélküli horpadás javítás (angolul PDR – paintless dent repair) egy olyan eljárási folyamat, amely során a technikus ködösített LED lámpa fényében (láthatóvá válik a festés textúrája) speciális, direkt erre a szakmára készitett pálcákkal, apró és pontos nyomásokkal “kimaszírozza” vagy ragasztott műanyag gombák segitségével “kihúzza” a horpadásokat, annak függvényében hogy az adott elem alulról hozzáférhető-e. Bármelyik módszert használjuk, a végeredmény garantáltan lenyűgözi majd Önt.</p>
        </trds-stack>
        <div>
            <video is="trds-video" src="/cdn/works/pdr/technology.mp4" controls loop autoplay muted playsinline></video>
        </div>
    </trds-grid>
</trds-section>