<trb-section>
    <trb-stack>
        <trb-title level="2" class="trb-title--uppercasegrey">A TECHNOLÓGIA ELŐNYEI</trb-title>
        <trb-grid class="trb-grid--boxes">
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="money-bill-alt" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">KÖLTSÉGHATÉKONY</trb-title>
                            <trb-paragraph class="trb-text-size--2">Egy hagyományos lakatos-fényező műhely áraihoz képest akár 60%-os megtakarítással is számolhat, emellett autója értéke nem csökken.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="clock" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">GYORS</trb-title>
                            <trb-paragraph class="trb-text-size--2">A kisebb horpadásokat akár 15-45 perc alatt megjavítjuk, illetve nagyobb horpadások esetén is maximum pár óra, míg elérjük az Ön maximális elégedettségét.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="check" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">MAGAS MINŐSÉGET KÉPVISEL</trb-title>
                            <trb-paragraph class="trb-text-size--2">Nincs színeltérési, fényezési hiba, hiszen a gyári fényezés megtartásával varázsoljuk autóját horpadás mentessé, mindezt teljesen környezetbarát módon.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
        </trb-grid>
    </trb-stack>
</trb-section>