<section>
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">A TECHNOLÓGIA ELŐNYEI</h2>
        <trbs-grid class="boxes">
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/money-bill-alt" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>KÖLTSÉGHATÉKONY</h3>
                            <p class="trbs-size--s">Egy hagyományos lakatos-fényező műhely áraihoz képest akár 60%-os megtakarítással is számolhat, emellett autója értéke nem csökken.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/clock" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>GYORS</h3>
                            <p class="trbs-size--s">A kisebb horpadásokat akár 15-45 perc alatt megjavítjuk, illetve nagyobb horpadások esetén is maximum pár óra, míg elérjük az Ön maximális elégedettségét.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/check" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>MAGAS MINŐSÉGET KÉPVISEL</h3>
                            <p class="trbs-size--s">Nincs színeltérési, fényezési hiba, hiszen a gyári fényezés megtartásával varázsoljuk autóját horpadás mentessé, mindezt teljesen környezetbarát módon.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
        </trbs-grid>
    </trbs-stack>
</section>