<section>
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">MILYEN SÉRÜLÉSEKEN ALKALMAZHATÓ A FÉNYEZÉS NÉLKÜLI TECHNOLÓGIA?</h2>
        <trbs-grid class="boxes">
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/check" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <p class="trbs-size--s">Ajtórányitásokon, jégkár okozta horpadásokon, fénytöréseken, benyomodásokon, és bármilyen jellegű sérüléseken, ameddig a fényezés nem sérült.</p>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/check" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <p class="trbs-size--s">Amennyiben a fényezés is sérült, abban az esetben is nagyszerű választás technológiánk, hiszen fényezésnél nem kell gittet használni, így évek múlva is hibátlan marad újrafényezett karosszériája.</p>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/check" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <p class="trbs-size--s">Technológiánk segítségével sok esetben olyan elemeket is meg tudunk menteni, amit lakatolásra, illetve fényezésre itélnénk alapesetben.</p>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
        </trbs-grid>
    </trbs-stack>
</section>