<section style="background-color: var(--trbs-color--red);">
    <trbs-grid>
        <trbs-stack style="gap:var(--trbs-space--s)">
            <h1 style="color: var(--trbs-color--lightgrey)" class="trbs-title--uppercasegrey">PDR TECHNOLÓGIA</h1>
            <p>A fényezés nélküli horpadás javítás (angolul PDR – paintless dent repair) egy olyan eljárási folyamat, amely során a technikus ködösített LED lámpa fényében (láthatóvá válik a festés textúrája) speciális, direkt erre a szakmára készitett pálcákkal, apró és pontos nyomásokkal “kimaszírozza” vagy ragasztott műanyag gombák segitségével “kihúzza” a horpadásokat, annak függvényében hogy az adott elem alulról hozzáférhető-e. Bármelyik módszert használjuk, a végeredmény garantáltan lenyűgözi majd Önt.</p>
        </trbs-stack>
        <div>
            <video is="trbs-video" lazy-src="/cdn/works/pdr/technology.mp4" loop autoplay muted playsinline></video>
        </div>
    </trbs-grid>
</section>