<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../components/header.ejs') %>
    <trb-main>
        <%- include('../pages/'+page+'.ejs') %>
    </trb-main>
    <%- include('../components/footer.ejs') %>
</body>
</html>