<trds-section>
    <trds-stack style="gap:var(--space--xxl)">
        <trds-title level="2" class="variant--1">A JAVÍTÁS MENETE</trds-title>
        <trds-timeline>
            <trds-timeline_step number="1">
                <trds-stack>
                    <trds-title level="3">INGYENES ÁRAJÁNLAT</trds-title>
                    <p style="color:var(--color--secondary-text)" class="size--s">Időpont foglalás után, kiszállással vagy műhelyünkben soron kivül fogadjuk és felmérjük javítandó horpadásait. Ez a folyamat maximum 15 percet vesz igénybe, ami után egyből megkapja árajánlatunkat. Időpontot foglalni <a is="trds-link" class="text" href="/kapcsolat"> telefonon</a> lehetséges.</p>
                </trds-stack>
            </trds-timeline_step>
            <trds-timeline_step number="2">
                <trds-stack>
                    <trds-title level="3">IDŐPONTFOGLALÁS JAVÍTÁSRA</trds-title>
                    <p style="color:var(--color--secondary-text)" class="size--s">Amennyiben árajánlatunk megfelelt Önnek, Ön eldönti hogy kiszállással vagy műhelyünkbe szeretné megjavíttatni autóját, majd időpontot foglal a javításra.</p>
                </trds-stack>
            </trds-timeline_step>
            <trds-timeline_step number="3">
                <trds-stack>
                    <trds-title level="3">JAVÍTÁS</trds-title>
                    <p style="color:var(--color--secondary-text)" class="size--s">Egy kisebb jégverés javítása 1 napon belül történik, és egy nagyobb jégverés javítása is maximum pár napot vehet igénybe, illetve extrém esetekben akár 1-2 hetet is. Szakszerű javítással a gépjármű teljesen visszanyeri gyári állapotát.</p>
                </trds-stack>
            </trds-timeline_step>
        </trds-timeline>
    </trds-stack>
</trds-section>