<section style="background-color: var(--trbs-color--red);">
    <trbs-stack style="gap:var(--trbs-space--s)">
        <h1 style="color: var(--trbs-color--lightgrey)" class="trbs-title--uppercasegrey">ÖNFINANSZÍROZOTT JÉGKÁR JAVÍTÁS</h1>
        <p class="trbs-size--xl" style="font-weight: bold">Cégünk saját költséges jégkár javítás esetén Magyarország legkedvezményesebb árait kínálja.</p>
    </trbs-stack>
</section>