<script type="module" src="<%- trbUrl %>/components/trbs-timeline.js"></script>
<section>
    <trbs-stack style="gap:var(--trbs-space--xl)">
        <h2 class="trbs-title--uppercasegrey">RÖVID TÖRTÉNETÜNK</h2>
        <trbs-timeline>
            <trbs-timeline__step number="2015">
                <p style="color:var(--trbs-color--lightgrey)" class="trbs-size--s">Csapatunk tagjai egy 1 éves képzésen vettek részt, melyet egy 20 éve horpadás javítással foglalkozó brazil mester tartott.</p>
            </trbs-timeline__step>
            <trbs-timeline__step number="2016">
                <p style="color:var(--trbs-color--lightgrey)" class="trbs-size--s">Megjártuk Európát, ahol nagyobb logisztikai parkokban állítottuk helyre a jégeső okozta károkat. Dolgoztunk Franciaországban, Belgiumban, Németországban és Olaszországban is.</p>
            </trbs-timeline__step>
            <trbs-timeline__step number="2017">
                <p style="color:var(--trbs-color--lightgrey)" class="trbs-size--s">Kecskemétet hatalmas jégeső sújtotta. Technikusaink a Hovány csoport, illetve a Maxx-autó Skoda márkakereskedés ügyfeleinek autóit varázsolták teljesen horpadás mentessé. Több mint 250 autót összesen.</p>
            </trbs-timeline__step>
            <trbs-timeline__step number="2018">
                <p style="color:var(--trbs-color--lightgrey)" class="trbs-size--s">Ezúttal Ajkát érte jégeső. Csapatunk több mint 80 jégkáros casco-s, illetve nem casco-s autót javított meg a kitelepülés során.</p>
            </trbs-timeline__step>
            <trbs-timeline__step number="2019">
                <p style="color:var(--trbs-color--lightgrey)" class="trbs-size--s">Elöszőr lépjük át Európa határait. Cégünk a hail.com ausztrál jégkár javító cég alvállalkozójaként méretteti meg magát a tengeren túli kontinensen...</p>
            </trbs-timeline__step>
        </trbs-timeline>
    </trbs-stack>
</section>