<section style="background-color: var(--trbs-color--red);">
    <trbs-stack style="gap:var(--trbs-space--s)">
        <h1 style="color: var(--trbs-color--lightgrey)" class="trbs-title--uppercasegrey">RÓLUNK</h1>
        <p class="trbs-size--xl" style="font-weight: bold;">Küldetésünk</p>
        <p><b>A TOP REPAIR-nél hiszünk abban, hogy munkánkkal értéket őrzünk.</b> Rengeteg sérült jármű kerül feleslegesen lakatos-fényező műhelyekbe, és így értékük csökken az újrafényezés miatt. Technológiánkkal nem csak az autó értékét őrizzük meg a gyári fényezés megtartásával, de a környezetet is óvjuk, hiszen nem használunk semmilyen mérgező anyagot mint pl. fényezésnél a festék.</p>
    </trbs-stack>
</section>