<trds-section style="background-color: var(--color--primary);">
    <trds-stack style="gap:var(--space--s)">
        <h1 style="color: var(--color--primary-text)" class="variant--1">RÓLUNK</h1>
        <span class="size--xl" style="font-weight: bold;">Küldetésünk</span>
        <p><b>A TOP REPAIR-nél hiszünk abban, hogy munkánkkal értéket őrzünk.</b> Rengeteg sérült jármű kerül feleslegesen lakatos-fényező műhelyekbe, és így értékük csökken az újrafényezés miatt. Technológiánkkal nem csak az autó értékét őrizzük meg a gyári fényezés megtartásával, de a környezetet is óvjuk, hiszen nem használunk semmilyen mérgező anyagot mint pl. fényezésnél a festék.</p>
    </trds-stack>
</trds-section>