<trds-section>
    <trds-stack style="gap:var(--space--xxl)">
        <trds-title level="2" class="variant--1">RÖVID TÖRTÉNETÜNK</trds-title>
        <trds-timeline>
            <trds-timeline_step number="2015">
                <p class="size--s">Csapatunk tagjai egy 1 éves képzésen vettek részt, melyet egy 20 éve horpadás javítással foglalkozó brazil mester tartott.</p>
            </trds-timeline_step>
            <trds-timeline_step number="2016">
                <p class="size--s">Megjártuk Európát, ahol nagyobb logisztikai parkokban állítottuk helyre a jégeső okozta károkat. Dolgoztunk Franciaországban, Belgiumban, Németországban és Olaszországban is.</p>
            </trds-timeline_step>
            <trds-timeline_step number="2017">
                <p class="size--s">Kecskemétet hatalmas jégeső sújtotta. Technikusaink a Hovány csoport, illetve a Maxx-autó Skoda márkakereskedés ügyfeleinek autóit varázsolták teljesen horpadás mentessé. Több mint 250 autót összesen.</p>
            </trds-timeline_step>
            <trds-timeline_step number="2018">
                <p class="size--s">Ezúttal Ajkát érte jégeső. Csapatunk több mint 80 jégkáros casco-s, illetve nem casco-s autót javított meg a kitelepülés során.</p>
            </trds-timeline_step>
            <trds-timeline_step number="2019">
                <p class="size--s">Elöszőr lépjük át Európa határait. Cégünk a hail.com ausztrál jégkár javító cég alvállalkozójaként méretteti meg magát a tengeren túli kontinensen...</p>
            </trds-timeline_step>
            <trds-timeline_step number="2020">
                <p class="size--s">Nyáron csapatunk egy része Belgiumba dolgozott a hagelcenter.be alvállalkozójaként, másik fele pedig az augusztusi, Csornán történt jégeső "áldozatain" segítettek a Suzuki Molnárnál.</p>
            </trds-timeline_step>
            <trds-timeline_step number="2021">
                <p class="size--s">Ausztriába kezdtük a szezont, majd Budapestet rég nem látott jégeső sújtotta. Csapatunk összesen több mint 300 autót javított meg a nyár alatt. Elégedett partnereink ezen a nyáron: Emil frey Magyarország, Opel Maxabo, Suzuki Szeleczky, Autopalace Buda, Wallis British Motors, Honda Budaörs, Honda M&M, Novofleet, Citroen Peugeot Pásztor, Onis Auto.</p>
            </trds-timeline_step>
        </trds-timeline>
    </trds-stack>
</trds-section>