<trb-section>
    <trb-stack style="gap:var(--trb-space--5)">
        <trb-title level="2" class="trb-title--uppercasegrey">RÖVID TÖRTÉNETÜNK</trb-title>
        <trb-timeline>
            <div class="trb-timeline__step" number="2015">
                <trb-paragraph style="color:var(--trb-lightgrey)" class="trb-text-size--2">Csapatunk tagjai egy 1 éves képzésen vettek részt, melyet egy 20 éve horpadás javítással foglalkozó brazil mester tartott.</trb-paragraph>
            </div>
            <div class="trb-timeline__step" number="2016">
                <trb-paragraph style="color:var(--trb-lightgrey)" class="trb-text-size--2">Megjártuk Európát, ahol nagyobb logisztikai parkokban állítottuk helyre a jégeső okozta károkat. Dolgoztunk Franciaországban, Belgiumban, Németországban és Olaszországban is.</trb-paragraph>
            </div>
            <div class="trb-timeline__step" number="2017">
                <trb-paragraph style="color:var(--trb-lightgrey)" class="trb-text-size--2">Kecskemétet hatalmas jégeső sújtotta. Technikusaink a Hovány csoport, illetve a Maxx-autó Skoda márkakereskedés ügyfeleinek autóit varázsolták teljesen horpadás mentessé. Több mint 250 autót összesen.</trb-paragraph>
            </div>
            <div class="trb-timeline__step" number="2018">
                <trb-paragraph style="color:var(--trb-lightgrey)" class="trb-text-size--2">Ezúttal Ajkát érte jégeső. Csapatunk több mint 80 jégkáros casco-s, illetve nem casco-s autót javított meg a kitelepülés során.</trb-paragraph>
            </div>
            <div class="trb-timeline__step" number="2019">
                <trb-paragraph style="color:var(--trb-lightgrey)" class="trb-text-size--2">Elöszőr lépjük át Európa határait. Cégünk a hail.com ausztrál jégkár javító cég alvállalkozójaként méretteti meg magát a tengeren túli kontinensen...</trb-paragraph>
            </div>
        </trb-timeline>
    </trb-stack>
</trb-section>