<trb-section class="extraservices">
    <trb-stack>
        <trb-title level="2" class="trb-title--uppercasegrey">Extra szolgáltatásaink</trb-title>
        <trb-grid class="trb-grid--boxes">
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="plus" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">Ingyenes kiszállás</trb-title>
                            <trb-paragraph class="trb-text-size--2">Árajánlatot, illetve a javítást is kérheti kiszállással, amennyiben úgy kívánja. Technikusaink teljes felszereltséggel érkeznek Önhöz, és orvosolják horpadásait. ** Nem minden sérülést tudunk javítani kiszállással.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="plus" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">Ingyenes árajánlat</trb-title>
                            <trb-paragraph class="trb-text-size--2">Árajánlataink mindenkorra ingyenesek, és nem járnak semmilyen kötelezettséggel.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="plus" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">Elégedettségi garancia</trb-title>
                            <trb-paragraph class="trb-text-size--2">Amennyiben Ön szerint a javítás eredménye nem az előre megbeszélt minőségben történt, nem kell kifizetnie a javítást. Ilyen egyszerű.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
        </trb-grid>
    </trb-stack>
</trb-section>