<trb-section class="reviews">
    <trb-stack>
        <trb-title level="2" class="trb-title--uppercasegrey">Google vélemények</trb-title>
        <trb-stack style="gap:var(--trb-space--0)">
            <trb-grid class="trb-grid--elements">
                <trb-text class="trb-text-size--6"><b>4.9</b></trb-text>
                <trb-grid class="trb-grid--elements" style="color: var(--trb-yellow)">
                    <trb-icon icon="star"></trb-icon>
                    <trb-icon icon="star"></trb-icon>
                    <trb-icon icon="star"></trb-icon>
                    <trb-icon icon="star"></trb-icon>
                    <trb-icon icon="star"></trb-icon>
                </trb-grid>
            </trb-grid>
            <trb-anchor href="googleoldal">
                <trb-text class="trb-text--tooltip"><u>52 vélemény</u></trb-text>
            </trb-anchor>
        </trb-stack>
        <trb-paragraph>Néhány, a <trb-anchor href="googleoldal">google oldalunkon</trb-anchor> szereplő értékelésekből összeállított válogatás.</trb-paragraph>
        <trb-grid class="trb-grid--boxes">
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-grid class="trb-grid--elements" style="gap:var(--trb-space--3)">
                            <trb-image src="https://toprepair.hu/cdn/reviews/review__1__profileImg.png" lazy aspect-ratio="1 1" style="width:3.5rem"></trb-image>
                            <trb-text>Zsolti Neumann</trb-text>
                        </trb-grid>
                        <trb-grid class="trb-grid--elements" style="color: var(--trb-yellow)">
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                        </trb-grid>
                        <trb-paragraph>Nagyon ügyesek, rugalmasak, szépen, gyorsan dolgoznak. Forduljatok hozzájuk bizalommal!</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-grid class="trb-grid--elements" style="gap:var(--trb-space--3)">
                            <trb-image src="https://toprepair.hu/cdn/reviews/review__1__profileImg.png" lazy aspect-ratio="1 1" style="width:3.5rem"></trb-image>
                            <trb-text>Zsolti Neumann</trb-text>
                        </trb-grid>
                        <trb-grid class="trb-grid--elements" style="color: var(--trb-yellow)">
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                        </trb-grid>
                        <trb-paragraph>Nagyon ügyesek, rugalmasak, szépen, gyorsan dolgoznak. Forduljatok hozzájuk bizalommal!</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-grid class="trb-grid--elements" style="gap:var(--trb-space--3)">
                            <trb-image src="https://toprepair.hu/cdn/reviews/review__1__profileImg.png" lazy aspect-ratio="1 1" style="width:3.5rem"></trb-image>
                            <trb-text>Zsolti Neumann</trb-text>
                        </trb-grid>
                        <trb-grid class="trb-grid--elements" style="color: var(--trb-yellow)">
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                            <trb-icon icon="star"></trb-icon>
                        </trb-grid>
                        <trb-paragraph>Nagyon ügyesek, rugalmasak, szépen, gyorsan dolgoznak. Forduljatok hozzájuk bizalommal!</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
            </trb-card>
        </trb-grid>
    </trb-stack>
</trb-section>