<trb-section>
    <trb-stack>
        <trb-title level="2" class="trb-title--uppercasegrey">MILYEN SÉRÜLÉSEKEN ALKALMAZHATÓ A FÉNYEZÉS NÉLKÜLI TECHNOLÓGIA?</trb-title>
        <trb-grid class="trb-grid--boxes">
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="check" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-paragraph class="trb-text-size--2">Ajtórányitásokon, jégkár okozta horpadásokon, fénytöréseken, benyomodásokon, és bármilyen jellegű sérüléseken, ameddig a fényezés nem sérült.</trb-paragraph>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="check" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-paragraph class="trb-text-size--2">Amennyiben a fényezés is sérült, abban az esetben is nagyszerű választás technológiánk, hiszen fényezésnél nem kell gittet használni, így évek múlva is hibátlan marad újrafényezett karosszériája.</trb-paragraph>
                    </trb-stack>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="check" class="trb-text-size--5" style="color: var(--trb-green)"></trb-icon>
                        <trb-paragraph class="trb-text-size--2">Technológiánk segítségével sok esetben olyan elemeket is meg tudunk menteni, amit lakatolásra, illetve fényezésre itélnénk alapesetben.</trb-paragraph>
                    </trb-stack>
                </div>
            </trb-card>
        </trb-grid>
    </trb-stack>
</trb-section>