<trds-section>
    <trds-stack>
        <trds-title class="variant--1">Munkáink</trds-title>
        <!-- <div id="workmedias"></div> -->
        <workmedias-long></workmedias-long>
    </trds-stack>
</trds-section>