<trds-section style="background-color: var(--color--primary);">
    <trds-grid style="row-gap: var(--space--m);">
        <trds-stack style="gap:var(--space--s)">
            <trds-title style="color: var(--color--primary-text)" class="variant--1">HORPADÁS JAVÍTÁS FÉNYEZÉS NÉLKÜL</trds-title>
            <span class="size--xl" style="font-weight: bold;">A gyárban kapott fényezés egyszeri és pótolhatatlan.</span>
            <p>Csapatunk professzionális eszközökkel, fényezés nélküli technológiával javítja a horpadásokat. Legyen szó bármilyen jellegű horpadásról, ameddig a fényezés nem sérült, mi nagy valószínűséggel visszaállítjuk autója karosszériáját eredeti állapotába, mintha az a gyárból gurult volna ki.</p>
        </trds-stack>
        <div>
            <trds-showcase before-image-url="/cdn/works/pdr/10before.jpg" after-image-url="/cdn/works/pdr/10after.jpg">
            </trds-showcase>
        </div>
    </trds-grid>
</trds-section>