<section style="background-color: var(--trbs-color--red);">
    <trbs-stack>
        <h2 style="color: var(--trbs-color--white)" class="trbs-title--uppercasegrey">BEJELENTKEZÉS</h2>
        <p>Bejelentkezéshez hívjon minket, és munkatársunk az Ön számára legmegfelelőbb időpontot biztosítja.</p>
        <button is="trbs-button" href="/kapcsolat" class="trbs-button--outline trbs-button--icon-on-right" text="Tovább" icon="solid/arrow-right"></button>
    </trbs-stack>
</section>