<trds-section style="background-color: var(--color--primary);">
    <trds-stack>
        <h2 style="color: var(--color--primary-text)" class="variant--1">BEJELENTKEZÉS</h2>
        <span>Bejelentkezéshez hívjon minket, és munkatársunk az Ön számára legmegfelelőbb időpontot biztosítja.</span>
        <a is="trds-button--link" class="call outline" number="+36 70 593 9393"></a>
    </trds-stack>
</trds-section>