<section
    class="trbs-bg-image"
    style="--trbs-bg-image-url: url('/cdn/images/aboutus__bg1920.jpg');background-position:top center;--trbs-bg-image-overlay: var(--trbs-color--darkgrey2-overlay);">
    <trbs-stack style="gap: var(--trbs-space--s)">
        <h2 class="trbs-title--uppercasegrey">Rólunk</h2>
        <span class="trbs-size--xl" style="font-weight: bold;">Számunkra ez nem egy szakma, hanem művészet.</span>
        <p style="margin-bottom: var(--trbs-space--s); color: var(--trbs-color--lightgrey)">Csapatunk fiatal és tehetséges technikusai szenvedéllyel javítják a horpadásokat. Több ezer megjavított áll a hátuk mögött, bejárták már szinte az egész világot, ahol gyárakban, nagyobb jégeső verte kereskedésekben illetve logisztikai parkokban állították vissza az autók karosszériáját gyári állapotra. Cégünk 2019-ben alakult,de technikusaink több mint 6 éves tapasztalattal rendelkeznek, melyet egy brazil mester (a szakma legjobbjai) által tartott 1 éves képzés előzött meg.</p>
        <button is="trbs-button" text="Tovább" href="/rolunk" icon="solid/arrow-right" class="trbs-button--icon-on-right"></button>
    </trbs-stack>
</section>