<section class="callus" style="background-color: var(--trbs-color--red);">
    <trbs-stack>
        <span class="trbs-size--xl" style="font-weight: bold;">Kérdése van? Hívjon minket.</span>
        <button is="trbs-button" class="trbs-button--call trbs-button--outline" number="+36 70 593 9393"></button>
    </trbs-stack>
</section>