<trds-section style="background-color: var(--color--primary);">
    <trds-stack>
        <span class="size--xl" style="font-weight: bold;">Kérdése van? Hívjon minket.</span>
        <a is="trds-button--link" class="call outline" number="+36 70 593 9393"></a>
    </trds-stack>
</trds-section>