<script type="module" src="<%- trbUrl %>/elements/trbs-counter.js"></script>
<section style="background-color: var(--trbs-color--red);">
    <trbs-grid>
        <trbs-stack style="gap:var(--trbs-space--0)">
            <trbs-counter to="500000" class="trbs-size--xl" style="font-weight: bold;">0</trbs-counter>
            <span>Megjavított horpadás</span>
        </trbs-stack>
        <trbs-stack style="gap:var(--trbs-space--0)">
            <trbs-counter to="5000" class="trbs-size--xl" style="font-weight: bold;">0</trbs-counter>
            <span>Megjavított autó</span>
        </trbs-stack>
        <trbs-stack style="gap:var(--trbs-space--0)">
            <span style="font-weight: bold;" class="trbs-size--xl"><trbs-counter to="5">0</trbs-counter>/5</span>
            <span>Ügyfél elégedettség</span>
        </trbs-stack>
    </trbs-grid>
</section>