<trds-section style="background-color: var(--color--primary);">
    <trds-grid>
        <trds-stack style="gap:var(--space--0)">
            <span class="size--xl" style="font-weight: bold;">
                <trds-counter to="500000">0</trds-counter>
            </span>
            <span>Megjavított horpadás</span>
        </trds-stack>
        <trds-stack style="gap:var(--space--0)">
            <span class="size--xl" style="font-weight: bold;">
                <trds-counter to="5000">0</trds-counter>
            </span>
            <span>Megjavított autó</span>
        </trds-stack>
        <trds-stack style="gap:var(--space--0)">
            <span class="size--xl" style="font-weight: bold;">
                <trds-counter to="5">0</trds-counter>/5
            </span>
            <span>Ügyfél elégedettség</span>
        </trds-stack>
    </trds-grid>
</trds-section>