<section class="extraservices">
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">Extra szolgáltatásaink</h2>
        <trbs-grid class="boxes">
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/plus" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>Ingyenes kiszállás</h3>
                            <p class="trbs-size--s">Árajánlatot, illetve a javítást is kérheti kiszállással, amennyiben úgy kívánja. Technikusaink teljes felszereltséggel érkeznek Önhöz, és orvosolják horpadásait. ** Nem minden sérülést tudunk javítani kiszállással.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/plus" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>Ingyenes árajánlat</h3>
                            <p class="trbs-size--s">Árajánlataink mindenkorra ingyenesek, és nem járnak semmilyen kötelezettséggel.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/plus" class="trbs-size--xl" style="color: var(--trbs-color--green)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>Elégedettségi garancia</h3>
                            <p class="trbs-size--s">Amennyiben Ön szerint a javítás eredménye nem az előre megbeszélt minőségben történt, nem kell kifizetnie a javítást. Ilyen egyszerű.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
        </trbs-grid>
    </trbs-stack>
</section>