<% const extraServices = [{
    title: 'Ingyenes kiszállás',
    description: 'Árajánlatot, illetve a javítást is kérheti kiszállással, amennyiben úgy kívánja. Technikusaink teljes felszereltséggel érkeznek Önhöz, és orvosolják horpadásait. ** Nem minden sérülést tudunk javítani kiszállással.'
},{
    title: 'Ingyenes árajánlat',
    description: 'Árajánlataink mindenkorra ingyenesek, és nem járnak semmilyen kötelezettséggel.'
},{
    title: 'Elégedettségi garancia',
    description: 'Amennyiben Ön szerint a javítás eredménye nem az előre megbeszélt minőségben történt, nem kell kifizetnie a javítást. Ilyen egyszerű.'
}] %>

<trds-section>
    <h2 class="variant--1" style="margin-bottom: var(--space--m)">Extra szolgáltatásaink</h2>
    <trds-grid class="boxes-layout">
        <% extraServices.forEach(service => { %>
            
            <trds-card>
                <trds-card__body>
                    <trds-stack>
                        <trds-icon lazy icon="solid/plus" class="size--xl" style="color: var(--color--success)"></trds-icon>
                        <trds-stack style="gap:var(--space--s)">
                            <h3 style="text-transform: uppercase;"><%= service.title %></h3>
                            <p class="size--s" style="color:var(--color--secondary-text)"><%= service.description %></p>
                        </trds-stack>
                    </trds-stack>
                </trds-card__body>
            </trds-card>

        <% }); %>
    </trds-grid>
</trds-section>