<trds-section
    class="bg-image"
    style="--bg-image-url: url('/cdn/images/herobg.webp');--bg-image-overlay: rgb(75,75,75);background-position:85% center;">
    <trds-stack style="gap:var(--space--s)">
        <h1 style="max-width: 30rem">Jégkár és horpadás javítás mesterfokon.</h1>
        <p style="color:var(--color--secondary-text); margin-bottom: var(--space--s); max-width: 27rem;">A gyárban kapott fényezés egyszeri és pótolhatatlan. Mi ennek megtartásával javítjuk a horpadásokat.</p>
        <a is="trds-button--link" class="call" number="+36 70 593 9393"></a>
    </trds-stack>
</trds-section>