<section
    class="trbs-bg-image"
    style="--trbs-bg-image-url: url('/cdn/images/hero__bg1920.jpg');background-position:top center;--trbs-bg-image-overlay: var(--trbs-color--darkgrey2-overlay);">
    <trbs-stack style="gap:var(--trbs-space--s)">
        <h1>Jégkár javítás, horpadás javítás mesterfokon.</h1>
        <p style="margin-bottom: var(--trbs-space--xs);">A gyárban kapott fényezés egyszeri és pótolhatatlan. Mi ennek megtartásával javítjuk a horpadásokat.</p>
        <button is="trbs-button" href="/kapcsolat" text="Kapcsolat" icon="solid/arrow-right" class="trbs-button--icon-on-right"></button>
    </trbs-stack>
</section>