<trds-section>
    <trds-stack>
        <trds-title level="2" class="variant--1">Szolgáltatásaink</trds-title>
        <trds-grid class="boxes-layout">
            <trds-card>
                <trds-stack slot="trds-card__body">
                    <trds-icon icon="solid/hail" class="trds-size--xl" style="color: var(--trds-theme--primary)"></trds-icon>
                    <trds-stack style="gap:var(--trds-space--s)">
                        <trds-title level="3" style="text-transform: uppercase;">Jégkár javítás</trds-title>
                        <trds-paragraph class="trds-size--s" style="color:var(--trds-theme--secondary-text)">Jégeső során a szabad ég alatt tartozkodó autón akár több száz, több ezer kisebb horpadás is keletkezhet. A jégkár mértékétől függően, az esetek nagy részében visszaállítható az autó karosszériája gyári állapotra fényezés nélküli technológiánk segítségével. Technikusaink hatalmas szenvedéllyel és a legkorszerűbb jégkár javító eszközökkel varázsolják az autókat teljesen horpadás mentessé, mintha mi sem történt volna.</trds-paragraph>
                    </trds-stack>
                </trds-stack>
                <div slot="trds-card__footer">
                    <trds-button href="/jegkarjavitas" class="outline icon-on-right" text="Tovább" icon="solid/arrow-right"></trds-button>
                </div>
            </trds-card>
            <trds-card>
                <trds-stack slot="trds-card__body">
                    <trds-icon icon="solid/hammer" class="trds-size--xl" style="color: var(--trds-theme--primary)"></trds-icon>
                    <trds-stack style="gap:var(--trds-space--s)">
                        <trds-title level="3" style="text-transform: uppercase;">Horpadás javítás</trds-title>
                        <trds-paragraph class="trds-size--s" style="color:var(--trds-theme--secondary-text)">Csapatunk professzionális eszközökkel, fényezés nélküli technológiával javítja a horpadásokat. Legyen szó bármilyen jellegű horpadásról, ameddig a fényezés nem sérült, mi nagy valószínűséggel visszaállítjuk autója karosszériáját eredeti állapotába, mintha az a gyárból gurult volna ki.</trds-paragraph>
                    </trds-stack>
                </trds-stack>
                <div slot="trds-card__footer">
                    <trds-button href="/horpadasjavitas" class="outline icon-on-right" text="Tovább" icon="solid/arrow-right"></trds-button>
                </div>
            </trds-card>
        </trds-grid>
    </trds-stack>
</trds-section>