<section style="background-color: var(--trbs-color--red);">
    <trbs-stack>
        <h2 style="color: var(--trbs-color--white)" class="trbs-title--uppercasegrey">ÜGYINTÉZÉS INDÍTÁSA</h2>
        <p>Amennyiben szeretné velünk intéztetni bejelentését, úgy kérjük vegye fel velünk a kapcsolatot.</p>
        <button is="trbs-button" class="trbs-button--call trbs-button--outline" number="+36 70 593 9393"></button>
    </trbs-stack>
</section>