<trds-section style="background-color: var(--color--primary);">
    <trds-stack>
        <h2 style="color: var(--color--primary-text)" class="variant--1">ÜGYINTÉZÉS INDÍTÁSA</h2>
        <span>Amennyiben szeretné velünk intéztetni kárügyét, úgy kérjük vegye fel velünk a kapcsolatot.</span>
        <a is="trds-button--link" class="call outline" number="+36 70 593 9393"></a>
    </trds-stack>
</trds-section>