<trds-section>
    <trds-stack style="gap:var(--space--xxl)">
        <h2 class="variant--1">A KÁRRENDEZÉS MENETE</h2>
        <trds-timeline>
            <trds-timeline__step number="1">
                <trds-stack>
                    <h3>A KÁR BEJELENTÉSE</h3>
                    <p style="color:var(--color--secondary-text)" class="size--s">A kár bejelentése történhet ONLINE vagy telefonon keresztül is. A biztosító a bejelentést követően kárszakértőt küld a kár felmérésére, mely a kárszakártővel előre egyeztetett időpontban történik.</p>
                </trds-stack>
            </trds-timeline__step>
            <trds-timeline__step number="2">
                <trds-stack>
                    <h3>SZEMLE (KÁRFELVÉTEL)</h3>
                    <p style="color:var(--color--secondary-text)" class="size--s">A jégeső okozta horpadások feljelölésre kerülnek, illetve minden cserélendő alkatrészt jegyzőkönyvbe vesz a kárszakértő. Ezt a lépést érdemes jégkárjavító szakember közreműködésével megtenni, mivel a kárszakértő szaktudás hiányában lehetséges, hogy nem látja, nem veszi fel a kár egészét. Amennyiben a kárt elsőre nem sikerült helyesen felvenni, úgy pótszemlére kerül sor.</p>
                </trds-stack>
            </trds-timeline__step>
            <trds-timeline__step number="3">
                <trds-stack>
                    <h3>JAVÍTÁS</h3>
                    <p style="color:var(--color--secondary-text)" class="size--s">Egy kisebb jégverés javítása 1 napon belül történik, és egy nagyobb jégverés javítása is maximum pár napot vehet igénybe, illetve extrém esetekben akár 1-2 hetet is. Szakszerű javítással a gépjármű teljesen visszanyeri gyári állapotát.</p>
                </trds-stack>
            </trds-timeline__step>
        </trds-timeline>
    </trds-stack>
</trds-section>