<section style="background-color: var(--trbs-color--red);">
    <trbs-stack style="gap:var(--trbs-space--s)">
        <h1 style="color: var(--trbs-color--lightgrey)" class="trbs-title--uppercasegrey">CASCO-S JÉGKÁR JAVÍTÁS</h1>
        <p class="trbs-size--xl" style="font-weight: bold">CASCO biztosítás alapján történő jégkár javítás során cégünk a káresemény bekövetkezésétől a javításig mindent elintéz.</p>
        <p><b>CASCO-s jégkár javításnál 10% visszajár!</b> A javítási számla 10%-át az önrész finanszírozására, vagy amennyiben Ön szeretne kedvezményes bérautót a javítás idejére, úgy annak finanszírozására is fordíthajta azt!</p>
    </trbs-stack>
</section>