<trds-section>
    <trds-stack>
        <trds-title level="2" class="variant--1">JÉGKÁR JAVÍTÁS SZOLGÁLTATÁSAINK</trds-title>
        <trds-grid class="boxes-layout">
            <trds-card>
                <trds-stack slot="trds-card__body">
                    <trds-icon icon="solid/car" class="trds-size--xl" style="color: var(--trds-theme--primary)"></trds-icon>
                    <trds-stack style="gap:var(--trds-space--s)">
                        <trds-title level="3">CASCO-S JÉGKÁR JAVÍTÁS</trds-title>
                        <trds-paragraph class="trds-size--s">Jégkár CASCO alapján történő kárrendezése során cégünk a káresemény bekövetkezése és az adott biztosítótársasághoz szükséges nyomtatványok kitöltése után a kárfelvételtől a javításig mindent elintéz, sőt a biztosítótársasággal javítási számla alapján közvetlenül elszámolunk.</trds-paragraph>
                    </trds-stack>
                </trds-stack>
                <div slot="trds-card__footer">
                    <trds-button href="/jegkarjavitas/cascojegkar" class="icon-on-right outline" text="Tovább" icon="solid/arrow-right"></trds-button>
                </div>
            </trds-card>
            <trds-card>
                <trds-stack slot="trds-card__body">
                    <trds-icon icon="solid/hammer" class="trds-size--xl" style="color: var(--trds-theme--primary)"></trds-icon>
                    <trds-stack style="gap:var(--trds-space--s)">
                        <trds-title level="3">ÖNFINANSZÍROZOTT JÉGKÁR JAVÍTÁS</trds-title>
                        <trds-paragraph class="trds-size--s">Cégünk saját költséges jégkár javítás esetén Magyarország legkedvezményesebb árait kínálja.</trds-paragraph>
                    </trds-stack>
                </trds-stack>
                <div slot="trds-card__footer">
                    <trds-button href="/jegkarjavitas/nemcascojegkar" class="icon-on-right outline" text="Tovább" icon="solid/arrow-right"></trds-button>
                </div>
            </trds-card>
            <trds-card>
                <trds-stack slot="trds-card__body">
                    <trds-icon icon="solid/truck" class="trds-size--xl" style="color: var(--trds-theme--primary)"></trds-icon>
                    <trds-stack style="gap:var(--trds-space--s)">
                        <trds-title level="3">KITELEPÜLÉS ORSZÁGSZERTE</trds-title>
                        <trds-paragraph class="trds-size--s">Nagyobb jégeső során csapatunkat biztosan megtalálja a káresemény helyszínén, ahol minden erőnkkel azon dolgozunk, hogy szakszerűen és minnél gyorsabban helyreállítsuk a jégeső okozta károkat. Cégünk országszerte vállalja kereskedések, kisebb logisztikai parkok, céges flották teljes jégkár mentesítését rövid határidővel. Érdeklődjön telefonon.</trds-paragraph>
                    </trds-stack>
                </trds-stack>
                <div slot="trds-card__footer">
                    <trds-button number="+36 70 593 9393" class="call outline"></trds-button>
                </div>
            </trds-card>
        </trds-grid>
    </trds-stack>
</trds-section>