<trb-section class="services">
    <trb-stack>
        <trb-title level="2" class="trb-title--uppercasegrey">JÉGKÁR JAVÍTÁS SZOLGÁLTATÁSAINK</trb-title>
        <trb-grid class="trb-grid--boxes">
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="car" class="trb-text-size--5" style="color: var(--trb-red)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">CASCO-S JÉGKÁR JAVÍTÁS</trb-title>
                            <trb-paragraph class="trb-text-size--2">Jégkár CASCO alapján történő kárrendezése során cégünk a káresemény bekövetkezése és az adott biztosítótársasághoz szükséges nyomtatványok kitöltése után a kárfelvételtől a javításig mindent elintéz, sőt a biztosítótársasággal javítási számla alapján közvetlenül elszámolunk.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
                <div class="trb-card__footer">
                    <trb-button href="/jegkarjavitas/cascojegkar" class="trb-button--outline trb-button--icon-on-right" text="Tovább" icon="arrow-right"></trb-button>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="hammer" class="trb-text-size--5" style="color: var(--trb-red)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">ÖNFINANSZÍROZOTT JÉGKÁR JAVÍTÁS</trb-title>
                            <trb-paragraph class="trb-text-size--2">Cégünk saját költséges jégkár javítás esetén Magyarország legkedvezményesebb árait kínálja.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
                <div class="trb-card__footer">
                    <trb-button href="/jegkarjavitas/nemcascojegkar" class="trb-button--outline trb-button--icon-on-right" text="Tovább" icon="arrow-right"></trb-button>
                </div>
            </trb-card>
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-icon icon="truck" class="trb-text-size--5" style="color: var(--trb-red)"></trb-icon>
                        <trb-stack style="gap:var(--trb-space--2)">
                            <trb-title level="3">KITELEPÜLÉS ORSZÁGSZERTE</trb-title>
                            <trb-paragraph class="trb-text-size--2">Nagyobb jégeső során csapatunkat biztosan megtalálja a káresemény helyszínén, ahol minden erőnkkel azon dolgozunk, hogy szakszerűen és minnél gyorsabban helyreállítsuk a jégeső okozta károkat. Cégünk országszerte vállalja kereskedések, kisebb logisztikai parkok, céges flották teljes jégkár mentesítését rövid határidővel. Érdeklődjön telefonon.</trb-paragraph>
                        </trb-stack>
                    </trb-stack>
                </div>
                <div class="trb-card__footer">
                    <trb-button class="trb-button--outline trb-button--call" number="+36 70 593 9393"></trb-button>
                </div>
            </trb-card>
        </trb-grid>
    </trb-stack>
</trb-section>