<section class="services">
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">JÉGKÁR JAVÍTÁS SZOLGÁLTATÁSAINK</h2>
        <trbs-grid class="boxes">
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/car" class="trbs-size--xl" style="color: var(--trbs-color--red)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>CASCO-S JÉGKÁR JAVÍTÁS</h3>
                            <p class="trbs-size--s">Jégkár CASCO alapján történő kárrendezése során cégünk a káresemény bekövetkezése és az adott biztosítótársasághoz szükséges nyomtatványok kitöltése után a kárfelvételtől a javításig mindent elintéz, sőt a biztosítótársasággal javítási számla alapján közvetlenül elszámolunk.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
                <trbs-card__footer>
                    <button is="trbs-button" href="/jegkarjavitas/cascojegkar" class="trbs-button--outline trbs-button--icon-on-right" text="Tovább" icon="solid/arrow-right"></button>
                </trbs-card__footer>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/hammer" class="trbs-size--xl" style="color: var(--trbs-color--red)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>ÖNFINANSZÍROZOTT JÉGKÁR JAVÍTÁS</h3>
                            <p class="trbs-size--s">Cégünk saját költséges jégkár javítás esetén Magyarország legkedvezményesebb árait kínálja.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
                <trbs-card__footer>
                    <button is="trbs-button" href="/jegkarjavitas/nemcascojegkar" class="trbs-button--outline trbs-button--icon-on-right" text="Tovább" icon="solid/arrow-right"></button>
                </trbs-card__footer>
            </trbs-card>
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <trbs-icon icon="solid/truck" class="trbs-size--xl" style="color: var(--trbs-color--red)"></trbs-icon>
                        <trbs-stack style="gap:var(--trbs-space--s)">
                            <h3>KITELEPÜLÉS ORSZÁGSZERTE</h3>
                            <p class="trbs-size--s">Nagyobb jégeső során csapatunkat biztosan megtalálja a káresemény helyszínén, ahol minden erőnkkel azon dolgozunk, hogy szakszerűen és minnél gyorsabban helyreállítsuk a jégeső okozta károkat. Cégünk országszerte vállalja kereskedések, kisebb logisztikai parkok, céges flották teljes jégkár mentesítését rövid határidővel. Érdeklődjön telefonon.</p>
                        </trbs-stack>
                    </trbs-stack>
                </trbs-card__body>
                <trbs-card__footer>
                    <button is="trbs-button" class="trbs-button--call trbs-button--outline" number="+36 70 593 9393"></button>
                </trbs-card__footer>
            </trbs-card>
        </trbs-grid>
    </trbs-stack>
</section>