<section style="background-color: var(--trbs-color--red);">
    <trbs-grid>
        <trbs-stack style="gap:var(--trbs-space--s)">
            <h1 style="color: var(--trbs-color--lightgrey)" class="trbs-title--uppercasegrey">Jégkár javítás mesterfokon</h1>
            <p class="trbs-size--xl" style="font-weight: bold;">Mi vagyunk a csend a vihar után. Mintha mi sem történt volna.</p>
            <p>Jégeső során a szabad ég alatt tartozkodó autón akár több száz, több ezer kisebb horpadás is keletkezhet. A jégkár mértékétől függően, az esetek nagy részében visszaállítható az autó karosszériája gyári állapotra fényezés nélküli technológiánk segítségével. Technikusaink hatalmas szenvedéllyel és a legkorszerűbb jégkár javító eszközökkel varázsolják az autókat teljesen horpadás mentessé, mintha mi sem történt volna.</p>
        </trbs-stack>
        <div>
            <video is="trbs-video" src="/cdn/works/hdr/bmwjegkar.mp4" loop autoplay muted playsinline></video>
        </div>
    </trbs-grid>
</section>