<trds-section>
    <h2 class="variant--1" style="margin-bottom: var(--space--m)">JÉGKÁR JAVÍTÁS SZOLGÁLTATÁSAINK</h2>
    <trds-grid class="boxes-layout">
        <trds-card>
            <trds-card__body>
                <trds-stack>
                    <trds-icon icon="solid/car" class="size--xl" style="color: var(--color--primary)"></trds-icon>
                    <trds-stack style="gap:var(--space--s)">
                        <h3 style="text-transform: uppercase;">CASCO-S JÉGKÁR JAVÍTÁS</h3>
                        <p class="size--s" style="color:var(--color--secondary-text)">Jégkár CASCO alapján történő kárrendezése során cégünk a káresemény bekövetkezése és az adott biztosítótársasághoz szükséges nyomtatványok kitöltése után a kárfelvételtől a javításig mindent elintéz, sőt a biztosítótársasággal javítási számla alapján közvetlenül elszámolunk.</p>
                    </trds-stack>
                </trds-stack>
            </trds-card__body>
            <trds-card__footer>
                <a is="trds-button--link" href="/jegkarjavitas/cascojegkar" class="outline icon-on-right" text="Tovább" icon="solid/arrow-right"></a>
            </trds-card__footer>
        </trds-card>
        <trds-card>
            <trds-card__body>
                <trds-stack>
                    <trds-icon icon="solid/car" class="size--xl" style="color: var(--color--primary)"></trds-icon>
                    <h3 style="text-transform: uppercase;">JÉGKÁR JAVÍTÁS SAJÁT KÖLTSÉGEN</h3>
                </trds-stack>
            </trds-card__body>
            <trds-card__footer>
                <a is="trds-button--link" href="/jegkarjavitas/nemcascojegkar" class="outline icon-on-right" text="Tovább" icon="solid/arrow-right"></a>
            </trds-card__footer>
        </trds-card>
        <trds-card>
            <trds-card__body>
                <trds-stack>
                    <trds-icon icon="solid/truck" class="size--xl" style="color: var(--color--primary)"></trds-icon>
                    <trds-stack style="gap:var(--space--s)">
                        <h3 style="text-transform: uppercase;">KITELEPÜLÉS ORSZÁGSZERTE</h3>
                        <p class="size--s" style="color:var(--color--secondary-text)">Nagyobb jégeső során csapatunkat biztosan megtalálja a káresemény helyszínén, ahol minden erőnkkel azon dolgozunk, hogy szakszerűen és minnél gyorsabban helyreállítsuk a jégeső okozta károkat. Cégünk országszerte vállalja kereskedések, kisebb logisztikai parkok, céges flották teljes jégkár mentesítését rövid határidővel. Érdeklődjön telefonon.</p>
                    </trds-stack>
                </trds-stack>
            </trds-card__body>
            <trds-card__footer>
                <a is="trds-button--link" number="+36 70 593 9393" class="call outline"></a>
            </trds-card__footer>
        </trds-card>
    </trds-grid>
</trds-section>