<% const contactData = 
    [{
        "phoneNumber": "+36 70 593 9393",
        "address": "9028 Győr, Sashegy puszta 1. A Céltrans 97 Zrt. telephelyén található.",
        "googleMapsLink": "https://goo.gl/maps/jEsfocXRGT9Ezg6U9"
    }];
%>
<trds-section>
    <trds-stack>
        <trds-title level="2" style="margin-bottom: var(--trds-space--m);" class="variant--1">Kapcsolat</trds-title>
            <% contactData.forEach(contact => { %>
                <trds-stack style="gap:var(--trds-space--m); grid-template-rows: auto auto auto 1fr">
                    <trds-stack style="gap:var(--trds-space--m)">
                        <trds-title level="3">Időpontfoglalás</trds-title>
                        <trds-stack style="gap:var(--trds-space--s)">
                            <trds-link-block href="tel:<%- contact.phoneNumber %>">
                                <trds-grid class="auto-width-layout">
                                    <trds-icon icon="solid/phone" style="color:var(--trds-theme--primary)"></trds-icon>
                                    <trds-text style="font-weight: bold;"><%- contact.phoneNumber %></trds-text>
                                </trds-grid>
                            </trds-link-block>
                            <trds-grid class="auto-width-layout" style="flex-wrap: nowrap">
                                <trds-icon icon="solid/clock" style="color:var(--trds-theme--primary)"></trds-icon>
                                <trds-text>Hétfő-Péntek, 8:00 - 17:00</trds-text>
                            </trds-grid>
                            <trds-grid class="isavailable auto-width-layout" style="flex-wrap: nowrap">
                                <trds-icon icon="solid/circle" style="color:var(--trds-theme--primary);flex-shrink: 0;"></trds-icon>
                                <trds-text>Jelenleg zárva vagyunk, így időpontfoglalás nem lehetséges.</trds-text>
                            </trds-grid>
                        </trds-stack>
                    </trds-stack>
                    <trds-stack style="gap:var(--trds-space--m)">
                        <trds-title level="3">Műhely</trds-title>
                        <trds-stack style="gap:var(--trds-space--s)">
                            <trds-grid class="auto-width-layout" style="flex-wrap: nowrap">
                                <trds-icon icon="solid/map-marker-alt" style="color:var(--trds-theme--primary);  flex-shrink: 0; align-self: baseline"></trds-icon>
                                <trds-text><%- contact.address %></trds-text>
                            </trds-grid>
                            <trds-grid class="auto-width-layout" style="flex-wrap: nowrap">
                                <trds-icon icon="solid/clock" style="color:var(--trds-theme--primary)"></trds-icon>
                                <trds-text>Nyitvatartás bejelentkezés alapján</trds-text>
                            </trds-grid>
                        </trds-stack>
                    </trds-stack>
                    <% if(contact.googleMapsLink){ %>
                    <trds-button style="align-self: end; margin-top:var(--trds-space--s)" text="Megnyitás google mapsben" href="<%- contact.googleMapsLink %>" icon="solid/map-marked-alt" class="icon-on-right"></trds-button>
                    <% } %>
                </trds-stack>
            <% }); %>
            <script async>

                    let now = new Date(),
                    isAvailable = ((now.getHours() >= 8) && (now.getHours() < 17) && (now.getDay() != 0) && (now.getDay() != 6)),
                    $isAvailable = document.querySelectorAll('.isavailable');
        
                if(isAvailable && $isAvailable.length > 0){
                    $isAvailable.forEach(el =>{
                        el.querySelector('trds-icon').style.color = 'var(--trds-theme--success)';
                        el.querySelector('trds-text').textContent = 'Időpontfoglalás lehetséges'
                    });
                }
        
            </script>
    </trds-stack>
</trds-section>
<trds-section style="background-color: var(--trds-theme--primary);">
    <trds-grid style="justify-content: space-around;">
        <trds-link-block href="mailto:toprepair.hu@gmail.com">
            <trds-stack style="justify-items: center;">
                <trds-icon icon="solid/envelope" class="trds-size--xl"></trds-icon>
                <trds-text>toprepair.hu@gmail.com</trds-text>
            </trds-stack>
        </trds-link-block>
        <trds-link-block href="https://maps.google.com/maps?cid=10727131549895732878&hl=hu">
            <trds-stack style="justify-items: center;">
                <trds-icon icon="brands/google" class="trds-size--xl"></trds-icon>
                <trds-text>TOP REPAIR HUNGARY</trds-text>
            </trds-stack>
        </trds-link-block>
        <!-- <a href="https://facebook.com/toprepairhungary" style="justify-content: center;">
            <trbs-stack style="justify-items: center;">
                <trbs-icon icon="brands/facebook" class="trbs-size--xl"></trbs-icon>
                <span>@toprepairhungary</span>
            </trbs-stack>
        </a> -->
         <!-- LOL  -->
    </trds-grid>
</trds-section>