<script type="module" src="<%- trbUrl %>/components/trbs-cookiebar.js"></script>
<trbs-cookiebar cookieName="gdpr" cookieValue="accepted">
    <trbs-stack style="text-align:center; justify-items:center">
        <p>Ez a weboldal Google Analytics sütiket használ a látogatottság elemzése céljából. Weboldalunk böngészésével Ön megértette és elfogadja <a class="link" style="color: inherit" href="/adatvedelem">adatvédelmi tájékoztatónkat</a>.</p>
        <button is="trbs-button" text="Ok" class="trbs-button--outline trbs-cookiebar__setCookieButton"></button>
    </trbs-stack>
</trbs-cookiebar>