<section>
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">Gyakran ismételt kérdések</h2>
        <trb-form>
            <trbs-stack style="gap:var(--trbs-space--xs)">
                <label for="faq-category">Kategória</label>
                <select 
                    name="faq-category"
                    id="faq-category"
                    category-target="faq_category_target"
                    category-data-url="/cdn/data/faq.json"
                >
                    <option value="all">Mind</option>
                    <option value="common">Általános kérdések</option>
                    <option value="pdr">Horpadás javítás</option>
                    <option value="hdr">Jégkár javítás</option>
                </select>
            </trbs-stack>
        </trb-form>
        <trbs-grid id="faq_category_target" class="boxes"></trbs-grid>
    </trbs-stack>
    <script>

        document.getElementById('faq-category').viewTemplate = `
            <trbs-card>
                <trbs-card__body>
                    <trbs-stack>
                        <h3 style="text-transform: none">{{question}}</h3>
                        <p>{{answer}}</p>
                    </trbs-stack>
                </trbs-card__body>
            </trbs-card>
        `;

    </script>
</section>