<trb-section>
    <trb-stack>
        <trb-title level="2" class="trb-title--uppercasegrey">Gyakran ismételt kérdések</trb-title>
        <trb-form>
            <trb-stack style="gap:var(--trb-space--1)">
                <trb-label for="faq-category">Kategória</trb-label>
                <select 
                    name="faq-category"
                    id="faq-category"
                    category-target="faq_category_target"
                    category-data-url="/cdn/data/faq.json"
                >
                    <option value="all">Mind</option>
                    <option value="common">Általános kérdések</option>
                    <option value="pdr">Horpadás javítás</option>
                    <option value="hdr">Jégkár javítás</option>
                </select>
            </trb-stack>
        </trb-form>
        <trb-grid id="faq_category_target" class="trb-grid--boxes"></trb-grid>
    </trb-stack>
    <script>

        document.getElementById('faq-category').viewTemplate = `
            <trb-card>
                <div class="trb-card__body">
                    <trb-stack>
                        <trb-title level="3" style="text-transform: none">{{question}}</trb-title>
                        <trb-paragraph>{{answer}}</trb-paragraph>
                    </trb-stack>
                </div>
            </trb-card>
        `;

    </script>
    <script type="module">

        import '/cdn/trb/components/trb-card.js';
        import '/cdn/trb/components/trb-paragraph.js'

    </script>
</trb-section>