<trds-footer>
    <trds-stack style="text-align: center;justify-items: center;">
        <span style="color: var(--color--secondary-text);"><%= new Date().getFullYear() %> © TOP REPAIR</span>
        <a is="trds-link" class="text" href="/adatvedelem">Adatvédelmi tájékoztató</a>
    </trds-stack>
</trds-footer>