<script type="module" async src="<%- trbUrl %>/components/trbs-header.js"></script>
<trbs-header>
    <a href="/jegkarjavitas">Jégkár javítás</a>
    <a href="/horpadasjavitas">Horpadás javítás</a>
    <a href="/pdrtechnologia">A technológia</a>
    <a href="/munkaink">Munkáink</a>
    <a href="/rolunk">Rólunk</a>
    <a href="/gyik">Gyakran ismételt kérdések</a>
    <a href="/kapcsolat">Kapcsolat</a>
</trbs-header>