<style>
    trds-header a[is=trds-link].text{
        text-decoration: none;
        font-size: var(--size--xs);
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color--secondary-text);
    }
</style>
<trds-header logo-src="/media/images/logo544x170.png">
    <!-- <a 
        is="trds-link"
        class="text"
        href="javascript:void(0)"
        onclick="document.getElementById('fontosinfo').show()">
        Fontos információ
    </a> -->
    <a is="trds-link" class="text" href="/jegkarjavitas">Jégkár javítás</a>
    <a is="trds-link" class="text" href="/horpadasjavitas">Horpadás javítás</a>
    <a is="trds-link" class="text" href="/pdrtechnologia">A technológia</a>
    <a is="trds-link" class="text" href="/munkaink">Munkáink</a>
    <a is="trds-link" class="text" href="/rolunk">Rólunk</a>
    <a is="trds-link" class="text" href="/gyik">Gyakran ismételt kérdések</a>
    <a is="trds-link" class="text" href="/kapcsolat">Kapcsolat</a>
</trds-header>