<% const reviews = 
    [{
        "profileImgUrl": "/cdn/images/reviews/review_2_profileImg.png",
        "profileName": "Zoltán Szabó E.V.",
        "reviewText": "Gyors, korrekt barátságos szakember. A végeredmény hibátlan lett. Bátran ajánlom mindenkinek! Bármi hasonló problémám lenne csak ide hozom az autóm. Szemle miatt bátran hívjátok, ingyenes és kötelezettség mentes az árajánlat! 5/5"
    },{
        "profileImgUrl": "/cdn/images/reviews/review_3_profileImg.png",
        "profileName": "papppi88",
        "reviewText": "Gyors kapcsolatfelvétel. Szimpatikus mester, aki kiváló minőségű munkát végzett, korrekt áron. Köszönöm! Ajánlani tudom mindenkinek."
    },{
        "profileImgUrl": "/cdn/images/reviews/review_1_profileImg.png",
        "profileName": "Neumann Zsolti",
        "reviewText": "Nagyon ügyesek, rugalmasak, szépen, gyorsan dolgoznak. Forduljatok hozzájuk bizalommal!"
    }]
%>
<section class="reviews">
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">Google vélemények</h2>
        <trbs-stack style="gap:var(--trbs-space--0)">
            <trbs-grid class="elements">
                <span class="trbs-size--xxl" style="font-weight: bold;">4.9</span>
                <trbs-grid class="elements" style="color: var(--trbs-color--yellow); width: max-content">
                    <trbs-icon icon="solid/star"></trbs-icon>
                    <trbs-icon icon="solid/star"></trbs-icon>
                    <trbs-icon icon="solid/star"></trbs-icon>
                    <trbs-icon icon="solid/star"></trbs-icon>
                    <trbs-icon icon="solid/star"></trbs-icon>
                </trbs-grid>
            </trbs-grid>
            <a href="https://maps.google.com/maps?cid=10727131549895732878&hl=hu" style="width: max-content">
                <span class="tooltip" style="text-decoration: underline;">60 vélemény</span>
            </a>
        </trbs-stack>
        <p>Néhány, a <a class="link" style="color:inherit" href="https://maps.google.com/maps?cid=10727131549895732878&hl=hu">google oldalunkon</a> szereplő értékelésekből összeállított válogatás.</p>
        <trbs-grid class="boxes">
            <% reviews.forEach(review => { %>
                <trbs-card>
                    <trbs-card__body>
                        <trbs-stack>
                            <trbs-grid class="elements" style="gap:var(--trbs-space--m)">
                                <trbs-image src="<%- review.profileImgUrl %>" lazy aspect-ratio="1 1" style="width:3.5rem" alt="Google felhasználó profilképe"></trbs-image>
                                <span><%- review.profileName %></span>
                            </trbs-grid>
                            <trbs-grid class="elements" style="color: var(--trbs-color--yellow)">
                                <trbs-icon icon="solid/star"></trbs-icon>
                                <trbs-icon icon="solid/star"></trbs-icon>
                                <trbs-icon icon="solid/star"></trbs-icon>
                                <trbs-icon icon="solid/star"></trbs-icon>
                                <trbs-icon icon="solid/star"></trbs-icon>
                            </trbs-grid>
                            <p><%- review.reviewText %></p>
                        </trbs-stack>
                    </trbs-card__body>
                </trbs-card>
            <% }); %>
        </trbs-grid>
    </trbs-stack>
</section>