<trds-section>
    <trds-stack>
        <trds-title level="2" class="variant--1">Munkáink</trds-title>
        <form>
            <trds-stack style="gap:var(--trds-space--xs)">
                <label for="faq-category">Kategória</label>
                <select class="trds-select"
                    name="works-category"
                    id="works-category"
                    category-target="works_category_target"
                    category-data-url="/cdn/data/works.json"
                >
                    <option value="all">Mind</option>
                    <option value="pdr">Horpadás javítás</option>
                    <option value="hdr">Jégkár javítás</option>
                </select>
            </trds-stack>
        </form>
        <trds-grid id="works_category_target" class="boxes-layout"></trds-grid>
        <trds-paragraph>További munkáinkért kérjük látogasson el <trds-link-text href="https://maps.google.com/maps?cid=10727131549895732878&hl=hu">google oldalunkra</trds-link-text>.</trds-paragraph>
    </trds-stack>
    <script>

        document.getElementById('works-category').viewTemplate = `
            <trds-work format="{{format}}" src="{{src}}"></trds-work>
        `;

    </script>
</trds-section>