<trds-section>
    <trds-stack>
        <h2 class="variant--1">Munkáink</h2>
        <form>
            <trds-stack style="gap:var(--space--xs)">
                <label for="faq-category">Kategória</label>
                <select
                    name="works-category"
                    id="works-category"
                    category-target="works_category_target"
                    category-data-url="/cdn/data/works.json"
                >
                    <option value="all">Mind</option>
                    <option value="pdr">Horpadás javítás</option>
                    <option value="hdr">Jégkár javítás</option>
                </select>
            </trds-stack>
        </form>
        <trds-grid id="works_category_target" class="boxes-layout"></trds-grid>
        <p>További munkáinkért kérjük látogasson el <a is="trds-link" class="text" href="https://maps.google.com/maps?cid=10727131549895732878&hl=hu">google oldalunkra</a>.</p>
    </trds-stack>
    <script>

        document.getElementById('works-category').viewTemplate = `
            <trds-work format="{{format}}" src="{{src}}"></trds-work>
        `;

    </script>
</trds-section>