<section>
    <trbs-stack>
        <h2 class="trbs-title--uppercasegrey">Munkáink</h2>
        <form>
            <trbs-stack style="gap:var(--trbs-space--xs)">
                <label for="faq-category">Kategória</label>
                <select 
                    name="works-category"
                    id="works-category"
                    category-target="works_category_target"
                    category-data-url="/cdn/data/works.json"
                >
                    <option value="all">Mind</option>
                    <option value="pdr">Horpadás javítás</option>
                    <option value="hdr">Jégkár javítás</option>
                </select>
            </trbs-stack>
        </form>
        <trbs-grid id="works_category_target" class="boxes"></trbs-grid>
        <p>További munkáinkért kérjük látogasson el <a class="link" href="https://facebook.com/toprepairhungary">facebook oldalunkra</a>, vagy <a class="link" href="https://maps.google.com/maps?cid=10727131549895732878&hl=hu">google oldalunkra</a>.</p>
    </trbs-stack>
    <script>

        document.getElementById('works-category').viewTemplate = `
            <trbs-work format="{{format}}" src="{{src}}"></trbs-work>
        `;

    </script>
    <script type="module" src="<%= trbUrl %>/components/trbs-work.js"></script>
</section>