<trds-section style="background-color: var(--color--primary);">
    <trds-stack>
        <h1 style="color: var(--color--primary-text)" class="variant--1">Az oldal nem található.</h1>
        <span class="size--xl"><b>404-es hiba. Térjen vissza a főoldalra.</b></span>
        <a is="trds-button--link" href="/" text="Vissza a főoldalra" icon="solid/home" class="outline icon-on-right"></a>
    </trds-stack>
</trds-section>