<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('sections/head.ejs') %>
    <link rel="stylesheet" href="/trds/dist/trds-critical.min.css">
    <script>

        window.addEventListener('load', () => document.body.classList.remove('loading'))

    </script>
    <script defer src="/trds/dist/trds.min.js"></script>
</head>
<body class="loading">

    <%- include('sections/header.ejs') %>

    <main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </main>

    <%- include('sections/footer.ejs') %>
    
    <link rel="stylesheet" href="/trds/dist/trds.min.css">
    <% if(page.name === 'hdr' || page.name === 'pdr' || page.name === 'works'){ %>
    <script defer src="/cdn/js/WMList.js"></script>
    <% } %>
</body>
</html>