<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('sections/head.ejs') %>
    <link rel="stylesheet" href="/trds/dist/trds.min.css">
    <script>

        window.addEventListener('load', () => document.body.classList.remove('loading'))

    </script>
    <script defer src="/trds/dist/trds.min.js"></script>
</head>
<body class="loading">

    <%- include('sections/header.ejs') %>

    <main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </main>

    <%- include('sections/footer.ejs') %>

</body>
</html>