<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('sections/head.ejs') %>
    <link rel="stylesheet" href="/trds-elements/tr-theme.css">
    <script defer src="/trds-elements/trds.js"></script>
</head>
<body>

    <%- include('sections/header.ejs') %>

    <main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </main>

    <%- include('sections/footer.ejs') %>

    <% if(page.name === 'hdr' || page.name === 'pdr'){ %>
        <script type="module" src="/workmedias/dist/WorkmediasShortBundle.js"></script>
    <% } %>

    <% if(page.name === 'works'){ %>
        <script type="module" src="/workmedias/dist/WorkmediasLongBundle.js"></script>
    <% } %>
    
</body>
</html>