<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('sections/head.ejs') %>
    <link rel="stylesheet" href="/modules/trds/tr-theme.css">
    <script defer src="/modules/trds/trds.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">

</head>
<body class="loading">

    <%- include('sections/header.ejs') %>

    <main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </main>

    <%- include('sections/footer.ejs') %>

    <!-- <trds-modal id="fontosinfo" showonfirsthit title="Fontos információ">
        <p>Kedves Ügyfeleink!</p>
        <br>
        <p>Cégünk 2022. Április 18-tól 2022. Május 1-ig szabadságra megy. Időpontot foglalni ebben az időintervallumban is lehetséges, de a javítások csak Május 1. után történnek.</p>
        <br>
        <p>Megértésüket köszönjük!</p>
        <br>
        <a is="trds-button--link" class="call" number="+36 70 593 9393"></a>
    </trds-modal> -->

    <% if(page.name === 'hdr' || page.name === 'pdr' || page.name === 'index'){ %>
        <script type="module" src="/modules/workmedias/dist/WorkmediasShortBundle.js"></script>
    <% } %>

    <% if(page.name === 'works'){ %>
        <script type="module" src="/modules/workmedias/dist/WorkmediasLongBundle.js"></script>
    <% } %>
    
</body>
</html>