<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('sections/head.ejs') %>
    <link rel="stylesheet" href="/modules/trds/tr-theme.css">
    <script defer src="/modules/trds/trds.js"></script>
</head>
<body class="loading">

    <%- include('sections/header.ejs') %>

    <main>
        <%- include(`pages/${page.name}/${page.name}.ejs`) %>
    </main>

    <%- include('sections/footer.ejs') %>

    <trds-modal id="fontosinfo" showonfirsthit title="Fontos információ">
        <p>Kedves Ügyfeleink!</p>
        <br>
        <p>Cégünk határozatlan ideig szünetelteti magyarországi tevékenységét.</p>
        <br>
        <p>Csapatunk Belgiumba kapott meghívást a hagelcenter.be jóvoltából, ahol több száz jégkáros autót fogunk megjavítani idén.</p>
        <br>
        <p>Távollétünk alatt bátran ajánljuk Aranyi Istvánt a horpadások eltűntetésére: Car-Repair Horpadás- Jégkár Javítás, <a class="text" is="trds-link" title="+36 30 953 6083" href="tel:+36 30 953 6083"> +36 30 953 6083</a></p>
        <br>
        <p>Megértésüket köszönjük!</p>
    </trds-modal>

    <% if(page.name === 'hdr' || page.name === 'pdr' || page.name === 'index'){ %>
        <script type="module" src="/modules/workmedias/dist/WorkmediasShortBundle.js"></script>
    <% } %>

    <% if(page.name === 'works'){ %>
        <script type="module" src="/modules/workmedias/dist/WorkmediasLongBundle.js"></script>
    <% } %>
    
</body>
</html>